body{
  background-image: url(a5bg.png);
}


h1{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 20px;
}

h2{
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-bottom: 3px solid darkblue;
}

#mainbodydiv{
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

}


a {
    color: blue;
    font-weight: bold;
    text-decoration: none;
  }
  
  a:visited {
    color: #0000ff;
  }
  
  a:hover {
    color: red;
    text-decoration: underline;
  }       

  .textjustify {
    text-align: justify;
  }


footer{
    background-color: darkblue;
    padding: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: white;
    margin-top: 30px;
    border: 2px solid white;
}

nav ul {
    list-style-type: none; /* none, disc, circle, square */
    margin:0;
    padding: 0;
  }
  
  nav li {
    list-style-type: none;
    display: inline-block;
    padding: 0;
    margin: 10px;
    width: 150px;
    color: #ffffff;
  }

  nav li a {
    color: #ffffff;
    padding: 10px;
    display: block;
    text-decoration: none;
    background-color: blue;
    
  }
  
  nav li a:hover {
    background-color: darkblue;
    color: white;
  }  

  nav li a:visited{
    color: white;
  }